<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Django Events</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url home %}">Inicio</a></li>
              <li><a href="{% url events %}">eventos</a></li>
              <li><a href="{% url contact %}">Contato</a></li>
            </ul>
                <form class="navbar-search pull-left"
                  action="{% url events %}" method="get">
                  <input type="text" class="search-query" placeholder="Pesquisar" name="search">
                </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% block container %}{% endblock %}

      <hr>

      <footer>
        <p>&copy; ZuRcZ 2013</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
